<div style="width: 100%;">
  <h4 class="text-primary ml-5 mt-3">Today's Tasks</h4>
  <hr>
  <div *ngIf="todayTasks.length === 0 && !addTaskMode">
    <p class="font-italic">You do not have any tasks for today!</p>
  </div>
  <div *ngIf="!filterOption">
    <div *ngFor="let task of todayTasks; let i = index;" class="mb-4" (mouseenter)="setActive(i)" (mouseleave)="setInactive(i)">
      <div class="round d-inline">
        <input type="checkbox" id="today-{{i}}" checked="{{task.finished}}" (change)="onCheck($event, task)"/>
        <label for="today-{{i}}"></label>
        <p class="d-inline ml-3">{{task.description}}</p>
        <button *ngIf="activeRow[i]" class="d-inline btn btn-danger btn-sm float-right ml-2" (click)="openModal(deleteTaskModal, task)"><i class="material-icons" style="font-size: 14px;">delete_forever</i></button>
        <button *ngIf="activeRow[i]" class="d-inline btn btn-primary btn-sm float-right" (click)="openModal(editTaskModal, task)"><i class="material-icons" style="font-size: 14px;">edit</i></button>
      </div>
      <hr>
    </div>
    <button *ngIf="!addTaskMode" class="btn btn-primary mt-2" (click)="addTaskMode = true"><i class="material-icons" style="font-size: 14px;">add_circle_outline</i> Add task</button>
  </div>
  <div *ngIf="filterOption">
    <div *ngFor="let task of filteredTasks; let i = index;" class="mb-4" (mouseenter)="setActive(i)" (mouseleave)="setInactive(i)">
      <div class="round d-inline">
        <input type="checkbox" id="today-{{i}}" checked="{{task.finished}}" (change)="onCheck($event, task)"/>
        <label for="today-{{i}}"></label>
        <p class="d-inline ml-3">{{task.description}}</p>
        <button *ngIf="activeRow[i]" class="d-inline btn btn-danger btn-sm float-right ml-2" (click)="openModal(deleteTaskModal, task)"><i class="material-icons" style="font-size: 14px;">delete_forever</i></button>
        <button *ngIf="activeRow[i]" class="d-inline btn btn-primary btn-sm float-right" (click)="openModal(editTaskModal, task)"><i class="material-icons" style="font-size: 14px;">edit</i></button>
      </div>
      <hr>
    </div>
  </div>
  <div *ngIf="addTaskMode" class="mt-2">
    <input class="form-control mb-2" type="text" name="title" [(ngModel)]="taskName" placeholder="Enter task..">
    <button class="btn btn-primary btn-xs ml-2 float-right" [disabled]="!taskName" (click)="addTask()">Save</button>
    <button class="btn btn-secondary btn-xs float-right" (click)="resetInformation()">Cancel</button>
  </div>
</div>

<!-- Edit Task Modal -->
<ng-template #editTaskModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-dark font-weight-bold">Edit Task</h6>
    <button type="button" class="close" aria-label="Close" (click)="d( 'Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="p-10">
    <div class="modal-body">
      <div class="form-group">
        <input class="form-control mb-2" type="text" name="title" [(ngModel)]="taskName">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="resetInformation(); c('Close click')">Close</button>
      <button type="button" class="btn btn-info" (click)="updateTask(); c('Close click')">Update</button>
    </div>
  </form>
</ng-template>

<!-- Delete Task Modal -->
<ng-template #deleteTaskModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h6 class="modal-title text-dark font-weight-bold">Confirmation Required</h6>
    <button type="button" class="close" aria-label="Close" (click)="d( 'Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="p-10">
    <div class="modal-body">
      <div class="form-group">
        <p class="font-weight-bold">Are you sure you want to delete the following task?</p>
        <p class="font-italic">{{activeTask.description}}</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="resetInformation(); c('Close click')">Close</button>
      <button type="button" class="btn btn-danger" (click)="deleteTask(); c('Close click')">Delete</button>
    </div>
  </form>
</ng-template>
